
<div class="container-fluid">
    <div id="input">
      <h2 class="text-center">Explore Github</h2>
  
    <form>
      <div class="form-group">
            <label for="userName"></label>
            <input type="search" class="form-control" value=""placeholder="Enter username to search"
            [(ngModel)]="username" name="username"><br>
            <input type="button" (click)="search()"id="button" class="form-control" value="Search">
      </div>
    </form>
     </div> 
</div>
  
  
  
  
  
  