
<div class="container-fluid">
    <div id="input">
  
    <form>
      <div class="form-group">
        <div class="row">
        <div class="col-md-9">
            <label for="userName"></label>
            <input type="search" class="form-control" value=""placeholder="Enter username to search"
            [(ngModel)]="username" name="username">
        </div>
        <div class="col-md-3">
          <br>
            <input type="button" (click)="search()"id="button" class="form-control" value="Search">
        </div>
        </div>
          </div>
    </form>
     </div> 
</div>
  
  
  
  
  
  