
<div class="container-fluid">

    <div class=" row">
      
        <div class="col-md-4">
           
            <img id="image"src="{{user.avatar_url}}" alt=""/>
          
        </div>
        <div class=" card col-md-8">
            <h5 class="text-center"><b>REPOSITORIES</b> </h5>
            <ul  class="repos"  >
              
             
              <li>{{repos.name}}</li>
              <li>{{repos.description}}</li>
              <li>created on{{repos.created_at}} </li>
              <li>{{repos.forks}} Forks</li>
            </ul>
         
        </div>
    </div>
    <div class="row">
        <div id="details" class=" col-md-4">
            <p><b>Username:</b>{{user.login}}</p>
            <hr>
            <p><b>Name:</b>{{user.name}}</p>
            <hr>
            <p><b>Email:</b>{{user.email}}</p>
            <hr>
            <p><b>Followers:</b>{{user.followers}}</p>
            <hr>
            <p><b>Public Repos:</b>{{user.public_repos}}</p>
            
            
            
            
          
        </div>
    
</div>