
<div class="container-fluid">
    <i class="fab fa-github"></i>
    <div id="input">
  
    <form>
      <div class="form-group">
        <div class="row">
        <div class="col-md-9">
            <label for="userName"></label>
            <input type="search" class="form-control" value=""placeholder="Enter username to search"
            [(ngModel)]="username" name="username">
        </div>
        <div class="col-md-3">
          <br>
            <input type="button" (click)="search()"id="button" class="form-control" value="Search">
        </div>
        </div>
          </div>
    </form>
     </div> 
<hr>

    <div class=" row">
      
        <div class="col-md-4">
           <p class="text-center">{{user.login}}</p>
            <img id="image"src="{{user.avatar_url}}" alt=""/>
          
        </div>
        <div class="col-md-1"></div>
        <div class="panel-body col-md-7">
            <ul class="list-group" *ngIf="user"id="details">
                <li class="list-group-item"><b>Username:</b>{{user.login}}</li>
                
                <li class="list-group-item"><b>Name:</b>{{user.name}}</li>
                
                <li class="list-group-item"*ngIf="user.email"><b>Email:</b>{{user.email}}</li>
                
                <li class="list-group-item"><b>Followers:</b>{{user.followers}}</li>
    
                <li class="list-group-item"><b>Following:</b>{{user.following}}</li>
                
                <li class="list-group-item"><b>Public Repos:</b>{{user.public_repos}}</li>
    
                <li class="list-group-item"><b>Onboard for:</b>{{user.created_at|timePipe}}</li>
                <br>
                <a class="btn btn-success"href="{{user.html_url}}" target="blank">View profile on github</a>
                
                
              
            </ul>
         <br>
        </div>
    </div>
    <h5 class="text-center"><b>REPOSITORIES</b> </h5><hr>
    <div class="row">
        <div class="col-md-3"><h5 class="text-center"><u>name</u></h5></div>
        <div class="col-md-5"><h5><u>description</u></h5></div>
        <div class="col-md-4"><h5><u>details</u></h5></div>
    </div>
    <div id="repos"*ngFor='let repo of repos'class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3"> 
            <a href="{{repo.html_url}}"><h4>{{repo.name}}</h4></a>
        </div>
        
        <div class="col-md-4">
          <p>{{repo.description}}</p>
        </div>
    
        <div  class="col-md-3">
            <p>built {{repo.created_at|timePipe}} ago </p>
            <p>{{repo.forks}} Forks</p>     
        </div>
        <div class="col-md-1"></div>
    </div>
    
    

</div>